.whitetext{
    color: white;
    cursor:pointer ;
    font-size: 23px;
    font-family: monospace;
}

.row{
    margin-right: auto;
    margin-left: auto;
}

.main{
    font-size: 35px;
    color: white;
    font-family: monospace;
}
a:hover { 
    background-color: black !important;
}

header.masthead{
    text-align:center;
    color:#fff;
    background-image:url(../../assets/image/1.png);background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover}