<div id="grid">&nbsp;</div>
<header>
  <div class="wrapper">
    <ul class="nav">
      <li id="logo-alt" class="pull-left">
        <h1>
          <a href="http://www.jayscatering.com/">
            <img src="/assets/images/logo-alt.png" alt="Jay's Catering">
          </a>
        </h1>
      </li>
      <li id="logo" class="pull-left">
        <h1>
          <a href="http://www.jayscatering.com/">
            <img src="/assets/images/logo.png" alt="Jay's Catering">
          </a>
        </h1>
      </li>
      <li class="pull-right ">
        <a href="http://facebook.com/jayscatering" target="_blank" class="social-icon icon-facebook pr1"></a>
      </li>
      <li class="pull-right">
        <a href="http://twitter.com/jayscatering" target="_blank" class="social-icon icon-twitter pr1"></a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/blog">BLOG</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/contact">CONTACT</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/venues">VENUES</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/corporate">CORPORATE</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/weddings">WEDDINGS</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/menus">FOOD & DRINK</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/bakery">BAKERY</a>
      </li>
      <li class="pull-right">
        <a href="http://www.jayscatering.com/about">ABOUT</a>
      </li>
      <div class="clearfix">&nbsp;</div>
    </ul>
  </div>
</header>
 
  <!-- SLIDER -->
  <section class="slider clearfix  ">
    <div class="images cycle-slideshow" data-slides="> .slide" data-cycle-speed="750" data-cycle-swipe=true data-cycle-fx="fade"
      data-pager=".cycle-pager">
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/02.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/03.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/05.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/06.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/07.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/08.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/09.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/10.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/11.jpg" />
      <img class="slide" src="http://www.jayscatering.com/content/home/slides/ellie-s-slide-2.jpg" />
    </div>
    <div class="pager-wrap cycle-pager"></div>
  </section>
  <!-- BIG TEXT -->
  <section class="wrapper big-text pl1">
    <p>Bringing people to the table since 1967. Jay’s Catering Company is a family owned business committed to providing handcrafted
      food and exceptional service at affordable prices.</p>
  </section>